USE [INS]
GO
/****** Object:  Table [dbo].[Enquiry]    Script Date: 02/13/2019 09:53:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Enquiry]') AND type in (N'U'))
DROP TABLE [dbo].[Enquiry]
GO
/****** Object:  Table [dbo].[Insurer]    Script Date: 02/13/2019 09:53:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Insurer]') AND type in (N'U'))
DROP TABLE [dbo].[Insurer]
GO
/****** Object:  Table [dbo].[MasterCity]    Script Date: 02/13/2019 09:53:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterCity]') AND type in (N'U'))
DROP TABLE [dbo].[MasterCity]
GO
/****** Object:  Table [dbo].[MasterCity_bkp]    Script Date: 02/13/2019 09:53:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterCity_bkp]') AND type in (N'U'))
DROP TABLE [dbo].[MasterCity_bkp]
GO
/****** Object:  Table [dbo].[MasterCommission]    Script Date: 02/13/2019 09:53:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterCommission]') AND type in (N'U'))
DROP TABLE [dbo].[MasterCommission]
GO
/****** Object:  Table [dbo].[MasterCoverage]    Script Date: 02/13/2019 09:53:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterCoverage]') AND type in (N'U'))
DROP TABLE [dbo].[MasterCoverage]
GO
/****** Object:  Table [dbo].[MasterFuelType]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterFuelType]') AND type in (N'U'))
DROP TABLE [dbo].[MasterFuelType]
GO
/****** Object:  Table [dbo].[MasterMake]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterMake]') AND type in (N'U'))
DROP TABLE [dbo].[MasterMake]
GO
/****** Object:  Table [dbo].[MasterModel]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterModel]') AND type in (N'U'))
DROP TABLE [dbo].[MasterModel]
GO
/****** Object:  Table [dbo].[MasterPlanType]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterPlanType]') AND type in (N'U'))
DROP TABLE [dbo].[MasterPlanType]
GO
/****** Object:  Table [dbo].[MasterRTO]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterRTO]') AND type in (N'U'))
DROP TABLE [dbo].[MasterRTO]
GO
/****** Object:  Table [dbo].[MasterState]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterState]') AND type in (N'U'))
DROP TABLE [dbo].[MasterState]
GO
/****** Object:  Table [dbo].[MasterVariant]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterVariant]') AND type in (N'U'))
DROP TABLE [dbo].[MasterVariant]
GO
/****** Object:  Table [dbo].[MasterVehicleType]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterVehicleType]') AND type in (N'U'))
DROP TABLE [dbo].[MasterVehicleType]
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Policy]') AND type in (N'U'))
DROP TABLE [dbo].[Policy]
GO
/****** Object:  Table [dbo].[StagingRTO]    Script Date: 02/13/2019 09:54:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StagingRTO]') AND type in (N'U'))
DROP TABLE [dbo].[StagingRTO]
GO
/****** Object:  Table [dbo].[StagingRTO]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StagingRTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StagingRTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RegNo] [varchar](10) NULL,
	[City] [int] NULL,
	[State] [int] NULL,
 CONSTRAINT [PK_StagingRTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Policy]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Policy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [varchar](50) NULL,
	[PolicyIssueDate] [date] NULL,
	[PolicyEffectiveDate] [date] NULL,
	[PolicyExpireDate] [date] NULL,
	[PaymentOption] [int] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[AdditionalInfo] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[InsurerID] [int] NULL,
	[VehicleTypeID] [int] NULL,
	[PlanTypeID] [int] NULL,
 CONSTRAINT [PK_Policy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MasterVehicleType]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterVehicleType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterVehicleType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MasterVehicleType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MasterVehicleType] ON
INSERT [dbo].[MasterVehicleType] ([ID], [VehicleType]) VALUES (1, N'TWO WHEELER')
INSERT [dbo].[MasterVehicleType] ([ID], [VehicleType]) VALUES (2, N'PRIVATE CAR')
INSERT [dbo].[MasterVehicleType] ([ID], [VehicleType]) VALUES (3, N'THREE WHEELER')
SET IDENTITY_INSERT [dbo].[MasterVehicleType] OFF
/****** Object:  Table [dbo].[MasterVariant]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterVariant]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterVariant](
	[ID] [int] NOT NULL,
	[VariantName] [varchar](200) NULL,
	[ModelID] [int] NULL,
	[FuelTypeID] [int] NULL,
 CONSTRAINT [PK_MasterVariant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MasterVariant] ([ID], [VariantName], [ModelID], [FuelTypeID]) VALUES (2, N'COUPE (5935 cc)', 2, 7)
INSERT [dbo].[MasterVariant] ([ID], [VariantName], [ModelID], [FuelTypeID]) VALUES (3, N'COUPE 2 SEATER (5935 cc)', 3, 7)
INSERT [dbo].[MasterVariant] ([ID], [VariantName], [ModelID], [FuelTypeID]) VALUES (4, N'6.0 RHD TOUCHTRONIC (5935 cc)', 4, 7)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
/****** Object:  Table [dbo].[MasterState]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterState]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterState](
	[ID] [int] NOT NULL,
	[StateName] [varchar](50) NULL,
 CONSTRAINT [PK_MasterState] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MasterState] ([ID], [StateName]) VALUES (1, N'Andhra Pradesh')
INSERT [dbo].[MasterState] ([ID], [StateName]) VALUES (2, N'Andaman & Nicobar Islands')
INSERT [dbo].[MasterState] ([ID], [StateName]) VALUES (3, N'Arunachal Pradesh')
/****** Object:  Table [dbo].[MasterRTO]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterRTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterRTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RegNo] [varchar](10) NULL,
	[CityID] [int] NULL,
	[StateID] [int] NULL,
 CONSTRAINT [PK_MasterRTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MasterRTO] ON
INSERT [dbo].[MasterRTO] ([ID], [RegNo], [CityID], [StateID]) VALUES (1, N'AN01', 2, 2)
INSERT [dbo].[MasterRTO] ([ID], [RegNo], [CityID], [StateID]) VALUES (2, N'AN02', 1, 2)
INSERT [dbo].[MasterRTO] ([ID], [RegNo], [CityID], [StateID]) VALUES (3, N'AP01', 3, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
SET IDENTITY_INSERT [dbo].[MasterRTO] OFF
/****** Object:  Table [dbo].[MasterPlanType]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterPlanType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterPlanType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlanType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MasterPlanType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MasterPlanType] ON
INSERT [dbo].[MasterPlanType] ([ID], [PlanType]) VALUES (1, N'COMMERCIAL VEHICLE THIRD PARTY')
INSERT [dbo].[MasterPlanType] ([ID], [PlanType]) VALUES (2, N'COMPREHENSIVE')
INSERT [dbo].[MasterPlanType] ([ID], [PlanType]) VALUES (3, N'COMPREHENSIVE LONG TERM-3Years')
SET IDENTITY_INSERT [dbo].[MasterPlanType] OFF
/****** Object:  Table [dbo].[MasterModel]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterModel]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterModel](
	[ID] [int] NOT NULL,
	[ModelName] [varchar](50) NULL,
	[AliasModelname] [varchar](50) NULL,
	[ModelNameV2] [varchar](50) NULL,
	[IsTopModel] [bit] NULL,
	[MakeID] [int] NULL,
 CONSTRAINT [PK_MasterModel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MasterModel] ([ID], [ModelName], [AliasModelname], [ModelNameV2], [IsTopModel], [MakeID]) VALUES (2, N'ASTON MARTIN, DB9', N'ASTON MARTIN DB9', N'DB9', 1, 2)
INSERT [dbo].[MasterModel] ([ID], [ModelName], [AliasModelname], [ModelNameV2], [IsTopModel], [MakeID]) VALUES (3, N'ASTON MARTIN, DBS', N'ASTON MARTIN DBS', N'DBS', 1, 2)
INSERT [dbo].[MasterModel] ([ID], [ModelName], [AliasModelname], [ModelNameV2], [IsTopModel], [MakeID]) VALUES (4, N'ASTON MARTIN, RAPIDE', N'ASTON MARTIN RAPIDE', N'RAPIDE', 1, 2)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
/****** Object:  Table [dbo].[MasterMake]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterMake]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterMake](
	[ID] [int] NULL,
	[MakeName] [varchar](50) NULL,
	[IsTopMake] [bit] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MasterMake] ([ID], [MakeName], [IsTopMake]) VALUES (2, N'ASTON MARTIN', 0)
INSERT [dbo].[MasterMake] ([ID], [MakeName], [IsTopMake]) VALUES (3, N'AUDI', 0)
INSERT [dbo].[MasterMake] ([ID], [MakeName], [IsTopMake]) VALUES (5, N'BENTLEY', 0)
/****** Object:  Table [dbo].[MasterFuelType]    Script Date: 02/13/2019 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterFuelType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterFuelType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FuelType] [varchar](50) NULL,
 CONSTRAINT [PK_MasterFuelType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MasterFuelType] ON
INSERT [dbo].[MasterFuelType] ([ID], [FuelType]) VALUES (3, N'CNG')
INSERT [dbo].[MasterFuelType] ([ID], [FuelType]) VALUES (4, N'Diesel')
INSERT [dbo].[MasterFuelType] ([ID], [FuelType]) VALUES (5, N'LPG')
SET IDENTITY_INSERT [dbo].[MasterFuelType] OFF
/****** Object:  Table [dbo].[MasterCoverage]    Script Date: 02/13/2019 09:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterCoverage]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterCoverage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Basic OD] [bit] NULL,
	[Non Electrical Accessories] [bit] NULL,
	[Electrical Accessories] [bit] NULL,
	[Geo Extension] [bit] NULL,
	[Fibre Glass Tank] [bit] NULL,
	[Driving Tution] [bit] NULL,
	[Voluntary Deductible] [bit] NULL,
	[Automobile Association Membership] [bit] NULL,
	[Anti-Theft Device] [bit] NULL,
	[Specially Designed/Modified for  Challenged persons] [bit] NULL,
	[Basic Liability] [bit] NULL,
	[TPPD] [bit] NULL,
	[TPPD Limit] [decimal](10, 2) NULL,
	[PA to Owner Driver] [bit] NULL,
	[CPA Tenure] [decimal](10, 2) NULL,
	[PA to Named Passenger] [bit] NULL,
	[PA to Unnamed Passenger] [bit] NULL,
	[PA to Paid Driver] [bit] NULL,
	[Liability to Paid Driver] [bit] NULL,
	[Liability to Employees] [bit] NULL,
	[Total Cover] [bit] NULL,
	[Secure Plus] [bit] NULL,
	[Secure Premium] [bit] NULL,
	[Nil Depreciation] [bit] NULL,
	[EMI Protection] [bit] NULL,
 CONSTRAINT [PK_MasterCoverage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MasterCommission]    Script Date: 02/13/2019 09:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterCommission]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterCommission](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InsurerID] [int] NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
	[PlanTypeID] [int] NOT NULL,
	[PerOnOD] [decimal](2, 2) NULL,
	[PerOnTP] [decimal](2, 2) NULL,
	[PerOnADDON] [decimal](2, 2) NULL,
	[FlatOnOD] [decimal](2, 2) NULL,
	[FlatOnTP] [decimal](2, 2) NULL,
	[FlatOnADDON] [decimal](2, 2) NULL,
 CONSTRAINT [PK_MasterCommission] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[InsurerID] ASC,
	[VehicleTypeID] ASC,
	[PlanTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MasterCity_bkp]    Script Date: 02/13/2019 09:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterCity_bkp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterCity_bkp](
	[ID] [int] NOT NULL,
	[StateID] [int] NULL,
	[CityName] [varchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MasterCity_bkp] ([ID], [StateID], [CityName]) VALUES (1, 2, N'CAR NICOBAR')
INSERT [dbo].[MasterCity_bkp] ([ID], [StateID], [CityName]) VALUES (2, 2, N'PORT BLAIR')
INSERT [dbo].[MasterCity_bkp] ([ID], [StateID], [CityName]) VALUES (3, 1, N'ADILABAD')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
/****** Object:  Table [dbo].[MasterCity]    Script Date: 02/13/2019 09:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MasterCity]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MasterCity](
	[ID] [int] NOT NULL,
	[StateID] [int] NULL,
	[CityName] [varchar](50) NULL,
 CONSTRAINT [PK_MasterCity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MasterCity] ([ID], [StateID], [CityName]) VALUES (1, 2, N'CAR NICOBAR')
INSERT [dbo].[MasterCity] ([ID], [StateID], [CityName]) VALUES (2, 2, N'PORT BLAIR')
INSERT [dbo].[MasterCity] ([ID], [StateID], [CityName]) VALUES (3, 1, N'ADILABAD')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
/****** Object:  Table [dbo].[Insurer]    Script Date: 02/13/2019 09:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Insurer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Insurer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InsurerName] [varchar](50) NULL,
	[InsurerImage] [nchar](10) NULL,
	[AgeDiscountCollection] [nchar](10) NULL,
	[DepriciationRate] [nchar](10) NULL,
	[NCBDetails] [nchar](10) NULL,
	[ProDiscount] [nchar](10) NULL,
	[AdditionalPremium] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Insurer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Enquiry]    Script Date: 02/13/2019 09:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Enquiry]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Enquiry](
	[ID] [int] NULL,
	[DisplayPlanName] [varchar](50) NULL,
	[NCB_Year] [int] NULL,
	[RegNo] [varchar](50) NULL,
	[MakeID] [int] NULL,
	[ModelID] [int] NULL,
	[VariantID] [int] NULL,
	[ManufacturingYear] [int] NULL,
	[ManufacturingMonth] [int] NULL,
	[RegistrationDate] [date] NULL,
	[CutomerType] [int] NULL,
	[IDV] [decimal](10, 0) NULL,
	[PolicyStartDate] [date] NULL,
	[DetariffDiscountPercent] [int] NULL,
	[PreviousPolicyType] [int] NULL,
	[PeriodOfPreviousPolicy] [int] NULL,
	[PreviousPolicyStartDate] [date] NULL,
	[PreviousPolicyEndDate] [date] NULL,
	[NCBEligibilityCriteria] [int] NULL,
	[ClaimOfLastPolicy] [bit] NULL,
	[LastYearNCBPercentage] [int] NULL,
	[NCBApplicableThisYear] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
