<div class="title">
  <h1>
      City
  </h1>
</div>
<p-dataView #dv [value]="list" [paginator]="true" [rows]="10" paginatorPosition="bottom" filterBy="cityName" [sortField]="sortField"
  [sortOrder]="sortOrder" emptyMessage="Loading...">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)"
            [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-8" style="text-align:right">
          <!-- <p-button label="Add City" routerLink="/city"></p-button> -->
          <p-button label="Add City" (click)="showDialog()"></p-button>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-5">
          <strong>City</strong>
        </div>
        <div class="ui-g-12 ui-md-5">
          <strong>State</strong>
        </div>
        <div class="ui-g-12 ui-md-2">
          Actions
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by city" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>

      </div>
    </div>
  </p-header>
  <ng-template let-city pTemplate="listItem">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-5">
        {{city.cityName}}
      </div>
      <div class="ui-g-12 ui-md-5">
        {{city.state.stateName}}
      </div>
      <div class="ui-g-12 ui-md-2">
          <!-- [routerLink]="['/city/add/', city.id]" -->
        <a class="btn text-danger" (click)="onEditP($event, city)"><i class="fa fa-edit"></i></a> 
        <a class="btn text-danger" (click)="onDeleteP($event, city)"><i class="fa fa-trash"></i></a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="ui-g-12 ui-md-11">
        {{city.name}}
      </div>
      <div class="ui-g-12 ui-md-1">
        <a class="btn text-danger" (click)="onEditP($event, city)"><i class="fa fa-edit"></i></a>
        <a class="btn text-danger" (click)="onDeleteP($event, city)"><i class="fa fa-trash"></i></a>
      </div>
    </div> -->

  </ng-template>
</p-dataView>
<!-- (onHide)="onModalClose($event)" -->
<p-dialog [(header)]="titleDialog" [(visible)]="display" [modal]="true" (onHide)="onModalClose($event)" 
(onShow)="onModalOpen($event)" [responsive]="true" [style]="{width: '600px', minWidth: '500px', height: '500px', minHeight: '400px'}" [minY]="400">
    <app-city-add [(modalVisible)]="display" (modalRefreshData)="refreshData()" [(formData)]="editFormData"></app-city-add>
</p-dialog>