.input_field {
    margin: 14px 0!important;
}
.input_field .lable {
    background: #62caf4;
    width: 12%;
    height: 100%;
    vertical-align: middle!important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 35px;
    display: table-cell;
    position: relative;
}
.info, .input_field .info .b, .input_field .inputBox input, .input_field .inputBox select {
    font-size: 12px;
    font-weight: 500;
}
.rightContent .input_field .inputBox, .landingScreen .formarea .rightTab .input_field .inputBox {
    width: 65%;
    padding: 1.4% 1% 1%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.input_field.pro, .landingScreen .formarea .rightTab .input_field.pro {
    margin: 20px 0 0;
    background: 0 0;
    box-shadow: none;
    clear: both;
}
.dontKnow {
    letter-spacing: 0;
    display: inline-block;
    padding: 10px 0 3px;
    width: 350px;
}
