<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="card">
    <!-- <div class="card-header">{{title}}</div> -->
    <div class="card-body">
      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id">
      <div class="form-group">
        <label for="name">Variant Name</label>
        <input type="text" name="variantName" id="variantName" class="form-control" #name="ngModel" [(ngModel)]="formData.variantName"></div>
      <div class="card-footer"><button type="submit" class="btn btn-primary">Save</button></div>
    </div>
  </div>
</form>
{{form.value | json}}