    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-motorcycle iconpos"></i></span>
            <span class="input-group-text">Reg No.</span>
            
        </div>
        <input class="form-control" type="text" placeholder="E.G. DL01AB1234">
    </div>

    

    <form>
        <div class="row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <i class="fa fa-motorcycle iconpos "></i>
                    REg No.
                </div>
                <input class="form-control" type="text" placeholder="E.G. DL01AB1234" id="twoWheelerRegistrationNumber">
            </div>
            <!--<a class="nextstep" id="btntwSubmit">next</a>
    <div class="process">
        <span class="loader"></span>
    </div>-->
            <div class="err"></div>
        </div>
        <div class="input_field pro">
            <a href="javascript:void(0);" class="carnextstep" id="btntwSubmit"> Continue </a>
            <button class="btn btn-primary">Continue</button>
            <div class="process-green">
                <span class="loader"></span>
                <span>Please Wait...</span>
            </div>
        </div>
        <div class="dontKnow">
            <a class="do_not" href="https://twowheeler.policybazaar.com/question?"> Don't Know Registration No.?
            </a> &nbsp;<br>
            <a class="got_new_car" href="https://twowheeler.policybazaar.com/question?regNo=&amp;PolicyType=3">Got
                a new Bike? Awesome! Click Here</a>
        </div>
        
    </form>