<div class="title">
  <h1>
      State
  </h1>
</div>
<!-- <div class="card">
  <div class="card-header">State</div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let i of list | paginate: { itemsPerPage: 2, currentPage: p }">
          <td (click)="onEdit(i)">{{i.name}}</td>
          <td><a class="btn text-danger" (click)="onDelete(i.id)"><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div> -->
<p-dataView #dv [value]="list" [paginator]="true" [rows]="10" paginatorPosition="bottom" filterBy="stateName" [sortField]="sortField"
  [sortOrder]="sortOrder" emptyMessage="Loading...">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)"
            [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-2" style="text-align:right">
          <!-- <p-button label="Add State" routerLink="/state"></p-button> -->
          <p-button label="Add State" (click)="showDialog()"></p-button>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-10">
          <strong>State</strong>
        </div>
        <div class="ui-g-12 ui-md-2">
          Actions
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by state" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>

      </div>
    </div>
  </p-header>
  <ng-template let-state pTemplate="listItem">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-10">
        {{state.stateName}}
      </div>
      <div class="ui-g-12 ui-md-2">
          <!-- [routerLink]="['/state/add/', state.id]" -->
        <a class="btn text-danger" (click)="onEditP($event, state)"><i class="fa fa-edit"></i></a> 
        <a class="btn text-danger" (click)="onDeleteP($event, state)"><i class="fa fa-trash"></i></a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="ui-g-12 ui-md-11">
        {{state.name}}
      </div>
      <div class="ui-g-12 ui-md-1">
        <a class="btn text-danger" (click)="onEditP($event, state)"><i class="fa fa-edit"></i></a>
        <a class="btn text-danger" (click)="onDeleteP($event, state)"><i class="fa fa-trash"></i></a>
      </div>
    </div> -->

  </ng-template>
</p-dataView>
<!-- (onHide)="onModalClose($event)" -->
<p-dialog [(header)]="titleDialog" [(visible)]="display" [modal]="true" (onHide)="onModalClose($event)" (onShow)="onModalOpen($event)" [responsive]="true" [style]="{width: '500px', minWidth: '300px'}" [minY]="70">
    <app-state-add-edit [(modalVisible)]="display" (modalRefreshData)="refreshData()" [(formData)]="editFormData"></app-state-add-edit>
</p-dialog>